<main>
    <div>
        <h2> Registro de usuarios para el administrador</h2>

        {{#each users}}


        <h2>{{this.first_name}}</h2>
        <p>{{this.last_name}}</p>
        <p>{{this.email}}</p>
        <p>{{this.role}}</p>


        <button class="changeUserRole" value={{this._id}}>Modificar Rol</button>
        <button class="deleteUser" value={{this._id}}>Eliminar usuario</button>


        {{/each}}






    </div>


</main>

<script src="/js/admin.js"></script>